.env
.venv

__pycache__

*.pyc

*.log

*.midi
*.wav
*.mp3
*.pdf
*.txt
*.yaml
*.yml
*.csv
*.jsonl
*.jsonl.gz
*.jsonl.tar
*.jsonl.tar.gz
*.jsonl.tar.bz2
*.jsonl.tar.xz
*.jsonl.tar.lzma
*.jsonl.tar.lzma.gz

.langgraph_api

music/
music/**